<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
  
            <div class="card mb-3">
  
              <div class="card-body">
  
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Criar uma conta</h5>
                  <p class="text-center small">Insira seus dados para cria uma conta</p>
                </div>
  
                <form class="row g-3 needs-validation">
                  <div class="col-12">
                    <label for="yourName" class="form-label">Seu nome</label>
                    <input type="text" name="name" class="form-control" id="yourName" [(ngModel)]="nome" required>
                    <div class="invalid-feedback">Please, enter your name!</div>
                  </div>
  
                  <div class="col-12">
                    <label for="email" class="form-label">Seu Email</label>
                    <input type="email" name="email" class="form-control" id="email" [(ngModel)]="email" required>
                  </div>
  
                  <!-- <div class="col-12">
                    <label for="yourUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                      <input type="text" name="username" class="form-control" id="yourUsername" required>
                      <div class="invalid-feedback">Please choose a username.</div>
                    </div>
                  </div> -->
  
                  <div class="col-12">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" name="senha" class="form-control" id="senha" [(ngModel)]="senha" required>
                  </div>
  
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit" (click)="register()">Criar Conta</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Já possui uma conta? <a href="/login">Entrar</a></p>
                  </div>
                </form>
  
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
    </section>
  
  </div>